<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Shatilla Weather App</ion-title> 
    <ion-searchbar (ionInput)="getLocation(location.value);  showSuggestions();" (ionClear)="resetLocation()" animated="true" placeholder="Enter a location. ex: 60403, las vegas, etc" clearInput="true" autocomplete="true" #location></ion-searchbar>
  </ion-toolbar>
</ion-header>



<ion-content>
<ion-list *ngIf="show==true">
  <ion-item *ngFor="let l of locations | LocationArrPipe" (click)="setLocation(l.value.name); hideSuggestions();">
    {{ l.value.name }}
  </ion-item>
</ion-list>
<ion-slides pager>
<ion-slide>
<h1>{{ data?.location?.name }}, {{data?.location?.region}}</h1>
    
      <img src="{{data?.current?.condition?.icon}}" [ngStyle]="{'width': '75px !important'}" />
      <p>Current Temperature: {{data?.current?.temp_f}}&deg;</p>
   

<ion-item>
  <ion-range [(ngModel)]="brightness">
    <ion-icon range-left small name="sunny"></ion-icon>
    <ion-icon range-right name="sunny"></ion-icon>
  </ion-range>
</ion-item>
</ion-slide>

<ion-slide style="background-color: blue">
    <h2>Slide 2</h2>
  </ion-slide>

  <ion-slide style="background-color: red">
    <h2>Slide 3</h2>
  </ion-slide>

</ion-slides>
</ion-content>

